/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* Fix para iconos */
.leaflet-default-icon-path {
  background-image: url(https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.9.4/images/marker-icon.png);
}